body {
  margin: 0;
}
.wrapper {
  width: 88%;
  margin:auto;
}
.header {
  display: flex;
  justify-content:space-between;
}
.menu1 {
  margin-right:117px;
}
.menu__form {
  margin-right: 31px;
}
.logo, .menu__item, .menu__button, .menu__form, .menu__sign, .menu__cart, .menu__cart-number {
  display: inline-block;
}
.logo {
  height: 55px;
  width: 55px;
  margin-right: -2px;
  margin-top: 33px;
  background: no-repeat center url('img/Axion-logo-1.svg');
}
.menu__item, .menu__sign,.menu__cart {
  position: relative;
  padding-top:53px;
  margin-bottom: 49px;
  font: normal 12px/12px gotham_probold, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  margin-right: 31px;
}
.menu__language {
  margin-top: 2px;
  margin-left:3px;
}
.menu__cart {
  margin-right: 4px;
}
.menu__cart-number {
  position:absolute;
  height:13px;
  width:13px;
  font: 11px/11px gotham_probold, arial, helvetica, sans-serif;
  color: white;
  background: black;
  border-radius: 50%;
  text-align:center;
  margin-top: 51px;
  padding-top: 2px;
  padding-right:2px;
}
.menu__icon {
  display: none;
}
input[type=search] {
    padding:0px;
    border:0px;
}
.menu__form::after {
  position: relative;
  display: block;
  content: '';
  margin-top: 4px;
  left: 0;
  width: 175px;
  height: 0.9px;
  background: #000;
}
button[type=submit] {
    padding:0px 0px;
    background:white;
    border:0 none;
    cursor:pointer;
}
.menu__button-image {
  margin-bottom:-3px;
}
.annotation {
  margin:auto;
  background: center url('img/rob-potter-b.jpg');
  height: 280px;
  width: 100%;
  border: 1px solid white;
}
.annotation__title {
  font: normal 30px/29px gotham_probold, arial, helvetica, sans-serif;
  color: white;
  padding-top: 62px;
  padding-left: 60px;
  margin-bottom: 14px;
}
.annotation__link {
  text-decoration: none;
  font: normal 12px/12px gotham_probold, arial, helvetica, sans-serif;
  color: white;
  padding-left: 60px;
}
.products__item, .products__line, .products__price {
  display: inline-block;
}
.products__name {
  display: block;
}
.video-clip {
  background:black;
  color:white;
  padding-top: 67px;
  padding-bottom: 66px;
  padding-left: 33px;
}
.video-clip__image, .video-clip__texting {
  display:inline-block;
}
.stories__item {
  display:inline-block;
}
.footer {
  background: black;
  display:flex;
  justify-content:space-around;
}
.footer__kit {
  display: inline-block;
  color: white;
  margin-right:
}
.footer__title {
  font: normal 12px/11px gotham_probold, arial, helvetica, sans-serif;
}
.footer__link {
  display: block;
  color: white;
  text-decoration:none;
  font-family: gotham_prolight, arial, helvetica, sans-serif;
}
.footer__link-image {
  display: inline-block;
}
.footer__button {
  display: block;
}
.footer__disclaimer {
  display: block;
}

@media (min-width:769px) and (max-width:1024px) {
  .wrapper {
   width: 90.8%;
   margin:auto;
  }
  .header {
    margin-bottom:15px;
  }
  .logo {
    width:61px;
    padding-left:2px;
    margin-right:-10px;
  }
  .menu1 {
    margin-right:59px;
  }
  .menu__form::after {
    width: 161px;
    left:14px;
}
  .menu__form {
    margin-right:30px;
}
.menu__sign {
  margin-right:20px;
}
  .annotation {
     margin:auto;
     background: url("img/rob-potter-1024.jpg");
     height:253px;
     width:100%;
}
  .annotation__title {
    padding-top:50px;
    padding-left:5.5%;
    margin-bottom: 7px;
}
  .annotation__link {
    padding-left:53px;
}
  .annotation__link-image {
    padding-left:10px;
}
  }

  @media (min-width:1101px) and (max-width:1170px) {
  .annotation__title {
    padding-left:85px;
  }
  .annotation__link {
    padding-left: 85px;
  }
}
@media (min-width:1025px) and (max-width:1060px) {
  .menu1 {
    margin-right:5px;
  }
  .menu__item {
    margin-right:30px;
  }
  .menu__form {
    margin-right: 30px;
  }
  .menu__sign {
    margin-right:30px;
  }
}


@media (min-width:769px) and (max-width:945px) {
  .menu1 {
    margin-right:5px;
  }
  .menu__item {
    margin-right:10px;
  }
  .menu__form {
    margin-right: 10px;
  }
}

@media (max-width:768px) {
  .products, .video-clip, .footer, .stories,.photos {
    display: none;
  }
  .menu1, .menu2,.menu__language {
    display: none;
  }
  .wrapper {
    width:100%;
  }
  .header {
    width:89%;
    margin:auto;
    margin-bottom:38px;
  }
  .logo {
     background: no-repeat url('img/Axion-logo-0.svg');
     height:34px;
     width:156px;
     margin-top:41px;
  }
  .menu__icon {
   display:inline-block;
   position:relative;
   height:25px;
   width:61px;
   background: no-repeat url('img/menu-icon.svg');
   margin-top:46px;
 }
 .annotation {
   background: no-repeat url('img/rob-potter-768.jpg');
   height:415px;
   width:100%;
 }
 .annotation__title {
   font: normal 50px/47px gotham_probold, arial, helvetica, sans-serif;
   padding-top:80px;
   padding-left:43px;
   padding-bottom:36px;
 }
 .annotation__link {
   font: normal 20px/19px gotham_probold, arial, helvetica, sans-serif;
   padding-left:43px;

 }
 .annotation__link-image {
   width:71px;
   margin-left:6px;
 }
}


@media (max-width:376px) {
  .header {
    width:74.6%;
    margin-top:0px;
    margin-bottom:26px;
  }
  .logo {
    margin-top:23px;
    height:22px;
    width:104px;
    background-size:100%;
  }
  .menu__icon {
    height:17px;
    width:41px;
    background-size:100%;
    margin-top:26px;
  }
  .annotation {
    background: no-repeat url('img/rob-potter-375.jpg');
    width:100%;
  }
  .annotation__title {
    padding-left:47px;
    padding-top:50px;
    padding-bottom:1px;
    font: normal 20px/19px gotham_probold, arial, helvetica, sans-serif;
  }
  .annotation__link {
    font: normal 12px/11px gotham_probold, arial, helvetica, sans-serif;
    padding-left:47px;
  }
  .annotation__link-image {
    width: 47px;
    margin-left:3px;
  }
}

@media (max-width:321px) {
  .header {
    width: 87.5%;
  }
  .annotation {
    width:100%;
    background:no-repeat url('img/rob-potter-320.jpg');
  }
  .annotation__title {
    padding-left:19px;
    padding-top:50px;
  }
  .annotation__link {
    padding-left:19px;
  }
}
